*{
    box-sizing: border-box;
}
.texture-editor{
    display: flex;
}
.toolbar-header{
    background-color: aqua;
}

.toolbar-containter{
    width: fit-content;
}

.toolbar-layers-container{
    overflow-x: hidden;
    overflow-y: scroll; height: 200px;

}

.toolbar-layers{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

.layer-listentry{
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

.layer-listentry-content-container{
    display: flex;
}


.layer-parameter-field{
    display: flex;
    margin-top: 10px;
    pointer-events: none;
}

.layer-parameter-textinput{
    height: fit-content;
    pointer-events: all;
}

.layer-parameter-name{
    height: fit-content;
    margin: 0px;

}

.layer-parameters-container{
    display: grid;
    grid-template-columns: 50% auto;
}
